<template>
	<v-form @submit.prevent="submitForm" autocomplete="on" class="mt-16">
		<v-row>
			<v-spacer></v-spacer>
			<v-col cols="12" sm="10" md="5" lg="4" xl="3">
				<v-card elevation="4" class="pa-5" :loading="loading">
					<v-card-title>پنل کاربران</v-card-title>
					<v-text-field
						name="username"
						autocomplete="username"
						v-model="formData.username"
						label="نام کاربری"
						filled
						outlined
					></v-text-field>
					<v-text-field
						name="passoword"
						autocomplete="new-password"
						v-model="formData.password"
						filled
						outlined
						:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
						:type="show1 ? 'text' : 'password'"
						label="رمز عبور"
						@click:append="show1 = !show1"
					></v-text-field>
					<v-btn color="primary" type="submit">ورود</v-btn>
				</v-card>
			</v-col>
			<v-spacer></v-spacer>
		</v-row>
	</v-form>
</template>

<script>
export default {
	data() {
		return {
			show1: false,
			formData: {
				username: "",
				password: "",
			},
		};
	},
	methods: {
		submitForm() {
			// this.$axios.$post("/login", this.formData).then((res) => {
			// 	this.$router.push({
			// 		path: "panel/",
			// 	});
			// });
			this.$router.push("/panel1");
		},
	},
};
</script>

<style>
</style>