<template>
	<v-row>
		<v-spacer></v-spacer>
		<v-col cols="6">
			<h1 class="text-center">محصولات</h1>
            <v-btn color="green white--text" class="mx-auto mt-3" style="display: block"> محصول جدید </v-btn>
			<v-card v-for="p in products" :key="p.id" class="mx-auto mt-5">
				<v-img
					class="white--text align-end"
					height="200px"
					:src="p.image"
				>
				</v-img>
				<v-card-title>{{ p.name }}</v-card-title>

				<v-card-subtitle> {{ p.description }} </v-card-subtitle>
				<v-card-text class="text--primary">
					تعداد: {{ p.count }}
				</v-card-text>

				<v-card-actions style="direction: ltr">
					<v-btn color="red" text> حذف </v-btn>

					<v-btn color="orange" text> ویرایش </v-btn>
				</v-card-actions>
			</v-card>
		</v-col>
		<v-spacer></v-spacer>
	</v-row>
</template>

<script>
export default {
	async asyncData({ $axios }) {
		try {
			const products = await $axios.$get("/mock/products.json");
			return { products };
		} catch (error) {
			console.log("st. wrong");
		}
	},
};
</script>

<style>
.v-btn {
	letter-spacing: unset !important;
}
</style>
