<template>
	<v-row>
		<v-spacer></v-spacer>
		<v-col cols="4">
			<h1 class="text-center">کاربران</h1>
			<v-card v-for="p in users" :key="p.id" class="mx-auto mt-5">
				<v-card-title>نام:‌ {{ p.name }}</v-card-title>

				<v-card-actions style="direction: ltr">
					<v-btn color="red" text> حذف </v-btn>
				</v-card-actions>
			</v-card>
		</v-col>
		<v-spacer></v-spacer>
	</v-row>
</template>

<script>
export default {
	async asyncData({ $axios }) {
		try {
			const users = await $axios.$get("/mock/users.json");
			return { users };
		} catch (error) {
			console.log("st. wrong");
		}
	},
};
</script>

<style>
.v-btn {
	letter-spacing: unset !important;
}
</style>